---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	metaInfo?: any;
}

const { title, metaInfo } = Astro.props;

let itemType = "http://schema.org/WebPage";

if (metaInfo && metaInfo.itemType) itemType = metaInfo.itemType;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaInfo ? metaInfo.description : "Streamline Your Shopify Success with a Development Plan. We replace unreliable freelancers and expensive agencies with a simple, subscription service."}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="language" content="English">
		<meta name="keywords" content="shopify, development, agency">
		<title>{title}</title>
		<link href={metaInfo.canonical} rel="canonical">
		<link rel="sitemap" href="/sitemap-index.xml" />
		{metaInfo && metaInfo.noIndex ? <meta name="robots" content="noindex"> : ''}
		{metaInfo && metaInfo.schemaMetaInfo ? <Fragment set:html={metaInfo.schemaMetaInfo} />  : ''}

		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MQ8LNPQ2');</script>
		<!-- End Google Tag Manager -->

		<!-- Meta Pixel Code -->
		<script is:inline>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1450277695572844');
		fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1450277695572844&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Meta Pixel Code -->
				
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://futuremerce.com/" />
		<meta property="og:title" content="Futuremerce - Shopify Development as a Subscription" />
		<meta property="og:description" content="Streamline Your Shopify Success with a Development Plan. We replace unreliable freelancers and expensive agencies with a simple, subscription service." />
		<meta property="og:image" content="/overview.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://futuremerce.com/" />
		<meta property="twitter:title" content="Futuremerce - Shopify Development as a Subscription" />
		<meta property="twitter:description" content="Streamline Your Shopify Success with a Development Plan. We replace unreliable freelancers and expensive agencies with a simple, subscription service." />
		<meta property="twitter:image" content="/overview.png" />

		<!-- Google Recaptcha  -->
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

		<!-- Preconnect Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<!-- Glide CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
	</head>
	<body itemscope itemtype={itemType}>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ8LNPQ2"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
 
		<Navbar />
		<slot transition:animate="fade"/>
		<Footer />
	</body>
</html>

<style lang="scss" is:global>
	// Fonts
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	// Vars
	:root {
		--lighter-purple: #8B81FF;
	}

	// Chatbox
	.crisp-client [aria-label="Open chat"] > span:last-of-type {
		background: var(--lighter-purple) !important;
	}

	// Scrollbar
	::-webkit-scrollbar {
		width: 6px;
		background: #ccc;
	}

	::-webkit-scrollbar-thumb {
		background: var(--lighter-purple);
	}

	// Base Styling
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html,body {
		scroll-behavior: smooth;
		overflow-x: hidden;

		&.no-scroll {
			overflow: hidden !important;
		}
	}

	body {
		font-family: 'Montserrat', sans-serif;
		padding-top: 115px;
	}

	// Page Title
	.page-title {
		color: #434343;
		text-align: center;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 72px;
		margin-bottom: 66px;

		> span {
			color: var(--lighter-purple)
		}

            @media screen and (max-width: 942px) {
                font-size: 32px;
                line-height: 40px;
				margin-bottom: 32px;
            }

            @media screen and (max-width: 450px) {
                font-size: 26px;
                line-height: 32px;
            }
	}

	// Page Body
	.page-body {
		color: #7A7A7A;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;

		> * {
			margin-bottom: 24px;
		}

		ul {
			margin-left: 16px;
		}

		a {
			color: var(--lighter-purple);
		}

        @media screen and (max-width: 942px) {
        	font-size: 15px;
			line-height: 24px;
        }
	}

	// Audits page fix
	.pricing.is-audit + script + .faqs {
		margin-bottom: 120px;
	}

	.audits-page .navbar {
		top: 0 !important;
	}

	.audits-page .navbar:not(.scrolled) {
		border-bottom: 1px solid #EEE;
	}
	
    .audits-page .cvps {
        display: none !important;
    }

	@media screen and (max-width: 710px) {
		.audits-page {
			padding-top: 70px;
		}

		.audits-page .faqs {
			padding-top: 100px !important
		}
	}


</style>
