---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	metaInfo?: any;
}

const { title, metaInfo } = Astro.props;

let itemType = "http://schema.org/WebPage";

if (metaInfo && metaInfo.itemType) itemType = metaInfo.itemType;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaInfo ? metaInfo.description : "Streamline Your Shopify Success with a Development Plan. We replace unreliable freelancers and expensive agencies with a simple, subscription service."}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="language" content="English">
		<meta name="keywords" content="shopify, development, agency">
		<title>{title}</title>
		<link href={metaInfo.canonical} rel="canonical">
		<link rel="sitemap" href="/sitemap-index.xml" />
		{metaInfo && metaInfo.noIndex ? <meta name="robots" content="noindex"> : ''}
		{metaInfo && metaInfo.schemaMetaInfo ? <Fragment set:html={metaInfo.schemaMetaInfo} />  : ''}

		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MQ8LNPQ2');</script>
		<!-- End Google Tag Manager -->
				
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://futuremerce.com/" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={metaInfo ? metaInfo.description : "Streamline Your Shopify Success with a Development Plan. We replace unreliable freelancers and expensive agencies with a simple, subscription service."} />
		<meta property="og:image" content="/Overview.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://futuremerce.com/" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={metaInfo ? metaInfo.description : "Streamline Your Shopify Success with a Development Plan. We replace unreliable freelancers and expensive agencies with a simple, subscription service."} />
		<meta property="twitter:image" content="/Overview.png" />

		<!-- Google Recaptcha  -->
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

		<!-- Preconnect Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

		<!-- Glide CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
	</head>
	<body itemscope itemtype={itemType}>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ8LNPQ2"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
 
		<Navbar />
		<slot transition:animate="fade"/>
		<Footer />

		<script src="//code.tidio.co/s8qfy20qy7wgk9mo01jo9f42r2gjrwnf.js" fetchpriority="low" async defer is:inline></script>
	</body>
</html>

<script>
	// Smooth Scrolling
	import Lenis from '@studio-freight/lenis'

	const lenis = new Lenis()

	lenis.on('scroll', (e) => {
	console.log(e)
	})

	function raf(time) {
	lenis.raf(time)
	requestAnimationFrame(raf)
	}

	requestAnimationFrame(raf)
</script>

<style lang="scss" is:global>
	// Fonts
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	// Vars
	:root {
		--lighter-purple: #8B81FF;
	}

	// Chatbox
	.crisp-client [aria-label="Open chat"] > span:last-of-type {
		background: var(--lighter-purple) !important;
	}

	// Scrollbar
	::-webkit-scrollbar {
		width: 6px;
		background: #ccc;
	}

	::-webkit-scrollbar-thumb {
		background: var(--lighter-purple);
	}

	// Base Styling
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html,body {
		overflow-x: hidden;

		&.no-scroll {
			overflow: hidden !important;
		}
	}

	body {
		font-family: 'Montserrat', sans-serif;
		padding-top: 115px;

		@media screen and (max-width: 767px) {
			&[itemtype*="Blog"] {
				padding-top: 80px;
			}
		}
	}

	// Page Title
	.page-title {
		color: #434343;
		text-align: center;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 72px;
		margin-bottom: 66px;

		> span {
			color: var(--lighter-purple)
		}

            @media screen and (max-width: 942px) {
                font-size: 32px;
                line-height: 40px;
				margin-bottom: 32px;
            }

            @media screen and (max-width: 450px) {
                font-size: 26px;
                line-height: 32px;
            }
	}

	// Page Body
	.page-body {
		color: #7A7A7A;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;

		> * {
			margin-bottom: 24px;
		}

		ul {
			margin-left: 16px;
		}

		a {
			color: var(--lighter-purple);
		}

        @media screen and (max-width: 942px) {
        	font-size: 15px;
			line-height: 24px;
        }
	}
	// Homepage Fix
	.header_title > span:after {
		background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43" fill="none"><path d="M23.7067 20.6548L31.6149 30.2422L28.4345 32.8669L20.5243 23.2817L16.5677 29.2878L11.6466 9.28214L30.3553 17.9118L23.7067 20.6548Z" fill="%23212121"/></svg>') !important;
	}

	// Audits page fix
	.pricing.is-audit + script + .faqs {
		margin-bottom: 120px;
	}

	.audits-page .navbar {
		top: 0 !important;
	}

	.audits-page .navbar:not(.scrolled) {
		border-bottom: 1px solid #EEE;
	}
	
    .audits-page .cvps, .audits-page .audits-bar {
        display: none !important;
    }

	@media screen and (max-width: 710px) {
		.audits-page {
			padding-top: 70px;
		}

		.audits-page .faqs {
			padding-top: 100px !important
		}
	}


</style>
